extends ./../layout/index

block content
    div(class="col-xs-12 col-md-12")
        h2(class="text-center" style="padding-bottom: 30px;") Users:

        div(class="form-group")
            div(class="row")
                a(href="/users/new" class="col-4 text-center")
                    button(type="submit" class="btn btn-primary") (+) Add New
                a(href="/" class="col-4 text-center")
                    button(type="submit" class="btn btn-primary") Home
                a(href="/auth/logout" class="col-4 text-center")
                    button(type="submit" class="btn btn-warning") Logout

                
        table(class="table table-bordered")
            thead
                tr
                    th #
                    th Name
                    th UserName
                    th Email
                    th Actions
            tbody
                each user in users
                    tr
                        td= user._id
                        td= user.name
                        td= user.username
                        td= user.email 
                        td
                            form(action="/users/" + user._id + '/?_method=DELETE', method="POST")
                                button(type="submit" class="btn btn-danger") Delete

                
    
    